[View in Colaboratory](https://colab.research.google.com/github/HIT-YL/py-03/blob/master/Summary_datatypes.ipynb)

## Summary of datatype in Python

- list
- dictionary
- tuple
- set
- string

### 리스트 생성 및 항목 추가

In [0]:
a = [ 10, 20, 30, 40, 50 ]

In [3]:
# 0, 1, 2... 인덱스는 리스트 처음부터 시작
# -1, -2, ... 인덱스는 리스트 마지막부터 시작

print("a[0] ==", a[0], ", a[2] ==", a[2], ", a[4] ==", a[4])
print("a[-1] ==", a[-1], ", a[-2] ==", a[-2], ", a[-5] ==", a[-5])

a[0] == 10 , a[2] == 30 , a[4] == 50
a[-1] == 50 , a[-2] == 40 , a[-5] == 10

In [0]:
b = [ 10, 20, "Hello", [True, 3.14] ]

In [5]:
# b[3] 또는 b[-1] 값은 [True, 3.14] 리스트 전체임

print("b[0] ==", b[0], ", b[2] ==", b[2], ", b[3] ==", b[3])
print("b[-1] ==", b[-1], ", b[-2] ==", b[-2], ", b[-4] ==", b[-4])

b[0] == 10 , b[2] == Hello , b[3] == [True, 3.14]
b[-1] == [True, 3.14] , b[-2] == Hello , b[-4] == 10

In [6]:
print("b[3][0] ==", b[3][0], " b[3][1] ==", b[3][1])
print("b[-1][-1] ==", b[-1][-1], ", b[-1][-2] ==", b[-1][-2])

# 중간고사에 나오기 좋겠죠.

b[3][0] == True  b[3][1] == 3.14
b[-1][-1] == 3.14 , b[-1][-2] == True

In [8]:
b[-2][-2]

'l'

** Q. l이 출력되는 이유는?        
           b[-2]는 Hello. + [-2]는 Hello 철자의 뒤에서 두번째 값인 l을 가져오기 때문이다.           **

In [10]:
# a[0:2] => 인덱스 0부터 2-1까지,   a[1:] => 인덱스 1부터 끝까지
# a[:3] => 인덱스 처음부터 3-1까지,   a[:-2] => 인덱스 처음부터 -2-1까지
# a[:] => 인덱스 처음부터 끝까지

print("a[0:2] ==", a[0:2], ", a[1:] ==", a[1:])
print("a[:3] ==", a[:3], ", a[:-2] ==", a[:-2])
print("a[:] ==", a[:])

a[0:2] == [10, 20] , a[1:] == [20, 30, 40, 50]
a[:3] == [10, 20, 30] , a[:-2] == [10, 20, 30]
a[:] == [10, 20, 30, 40, 50]

### 튜플

In [0]:
a = ( 10, 20, 30, 40, 50 )

In [18]:
print("a[0] ==", a[0], ", a[-2] ==", a[-2], ", a[:] ==", a[:])
print("a[0:2] ==", a[0:2], ", a[1:] ==", a[1:])

a[0] == 10 , a[-2] == 40 , a[:] == (10, 20, 30, 40, 50)
a[0:2] == (10, 20) , a[1:] == (20, 30, 40, 50)

In [19]:
a[0] = 100     # a[0] 값을 100으로 변경하려 하기 때문에 에러발생

# 파이썬에서 튜플은 불변

TypeError: ignored

### 딕셔너리

In [0]:
score = { "KIM":90, "LEE":85, "JUN":95 }    # 딕셔너리 생성

In [22]:
print("score['KIM'] ==", score['KIM'])    # 원소 접근

score['KIM'] == 90

In [25]:
score['HAN'] = 100   # 새 원소 추가

# 딕셔너리는 입력한 순서대로 데이터가 들어가는 것이 아니므로 주의해야함

print(score)

{'KIM': 90, 'LEE': 85, 'JUN': 95, 'HAN': 100}

In [26]:
# 딕셔너리 key. value, (key, value)

print("score key ==", score.keys())
print("score value ==", score.values())
print("score items ==", score.items())

score key == dict_keys(['KIM', 'LEE', 'JUN', 'HAN'])
score value == dict_values([90, 85, 95, 100])
score items == dict_items([('KIM', 90), ('LEE', 85), ('JUN', 95), ('HAN', 100)])

### String

In [0]:
a = 'A73, CD'

In [28]:
a[1]    # a[1]은 숫자 7이 아닌 문자열 7

'7'

In [29]:
a = a + ', EFG'    # + 연산자 사용
a

'A73, CD, EFG'

In [31]:
# split() 메서드는 특정 separator를 기준으로 문자열을 분리하여 list 리턴
# split 함수 중요!!!
# split는 콤마(,)를 기준으로 문자열을 분리하고 분리한 문자열을 리스트 함수로 변환해주는 함수이다.

b = a.split(',')
print(b)

['A73', ' CD', ' EFG']

** Q. A73이 나오는 슬라이싱 코드를 n개 이상 적어보시오. (중간고사 문제 예상!)**

In [32]:
a[:3]

'A73'

In [38]:
a = [ 10, 20, 30, 40, 50 ]
b = (10, 20, 30, 40, 50 )
c = { "KIM":90, "LEE":80 }
d = 'Seoul, Korea'
e = [ [100, 200], [300, 400], [500, 600]]

print(type(a), type(b), type(c), type(d), type(e))

print(len(a), len(b), len(c), len(d), len(e)) # len은 대괄호로 묶인 것들을 하나로 보기 때문에 요소의 개수가 3이라고 출력함

print(size(e))   # len() 과 size() 비교

<class 'list'> <class 'tuple'> <class 'dict'> <class 'str'> <class 'list'>
5 5 2 12 3

NameError: ignored

In [44]:
a = 'Hello'
b = { "KIM":90, "LEE":80 }

print(list(a), list(b.keys()), list(b.values()), list(b.items()))

# b.items는 각 쌍을 리스트 변수로 출력함

['H', 'e', 'l', 'l', 'o'] ['KIM', 'LEE'] [90, 80] [('KIM', 90), ('LEE', 80)]

In [0]:
# 소괄호는 튜플

In [0]:
# str 함수를 리스트에 걸어주면 str 함수가 통째로 리스트로 바뀐다는 것 주의 !!!